</main><!-- #main -->
</div><!-- #primary -->



</div><!-- #content -->

<div class="row">
<footer id="colophon" class="site-footer col-md-12" role="contentinfo">
  <div class="site-info">
    <div class="fcred col-12">
      Copyright &copy; 2016 <a href="http://demo.fabthemes.com/wembley">Articles</a> - Just another demo Sites site.<br />
    </div>
  </div><!-- .site-info -->
</footer><!-- #colophon -->
</div>
</div>
</div><!-- #page -->

<style type="text/css">

  .pushy,.menu-btn{ background: ; }
  a,a:visited{ color:;}
  a:hover,a:focus,a:active { color:; }

</style>
<!-- <script type="text/javascript" src="http://demo.fabthemes.com/wembley/wp-content/cache/minify/000121/ZY5BDoMwDAQ_RBKEUL_ScwIWGMV2FCdF9PXQUxt6W83MYXv3BAoRDrepI5khM76zGezDDpaQu74NAkYg4NryTacsMd7jqmD2FeAmUtX1aNFUtQj9sCBStGSfvuv_DvsXLr6gcDe6PZnLwPzJTg.js"></script> -->
</body>
</html>
