<a href="/articles/article21.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2015/01/26/01.jpg"/></a>
<h2 class="box-title"><a href="/articles/article21.html" rel="bookmark">$!{file_articles_article21Title}</a></h2>
