<a href="/articles/article2.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2016/03/23/02.jpg"/></a>
<h2 class="box-title"><a href="/articles/article2.html" rel="bookmark">Какие же они, карандаши китайские?</a></h2>
