<a href="/articles/article4.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2016/03/18/01.jpg"/></a>
<h2 class="box-title"><a href="/articles/article4.html" rel="bookmark">$!{file_articles_article4Title}</a></h2>
