<a href="/articles/article12.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2015/12/31/01.jpg"/></a>
<h2 class="box-title"><a href="/articles/article12.html" rel="bookmark">$!{file_articles_article12Title}</a></h2>
