<a href="/articles/article18.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2015/05/25/01.jpg"/></a>
<h2 class="box-title"><a href="/articles/article18.html" rel="bookmark">$!{file_articles_article18Title}</a></h2>
