<a href="/articles/article11.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2016/01/13/01.jpg"/></a>
<h2 class="box-title"><a href="/articles/article11.html" rel="bookmark">$!{file_articles_article11Title}</a></h2>
