<a href="/articles/article3.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2016/03/21/01.jpg"/></a>
<h2 class="box-title"><a href="/articles/article3.html" rel="bookmark">$!{file_articles_article3Title}</a></h2>
