<a href="$!{root}/articles/Khud-shopping-prednovogodnyaya-pritcha.html"> <img class="img-responsive" src="$!{root}/images/articleImage12"/></a>
<h2 class="box-title"><a href="$!{root}/articles/Khud-shopping-prednovogodnyaya-pritcha.html" rel="bookmark">$!{file_articles_article12Title}</a></h2>
