<a href="$!{root}/articles/Tochilka-Bostitch-Twist-N-Sharp.html"> <img class="img-responsive" src="$!{root}/images/articleImage7"/></a>
<h2 class="box-title"><a href="$!{root}/articles/Tochilka-Bostitch-Twist-N-Sharp.html" rel="bookmark">$!{file_articles_article7Title}</a></h2>
