<a href="$!{root}/articles/Akvarelnye-karandashi-PRISMACOLOR.html"> <img class="img-responsive" src="$!{root}/images/articleImage1"/></a>
<h2 class="box-title"><a href="$!{root}/articles/Akvarelnye-karandashi-PRISMACOLOR.html" rel="bookmark">$!{file_articles_article1Title}</a></h2>
