<a href="/articles/article5.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2016/03/09/02.jpg"/></a>
<h2 class="box-title"><a href="/articles/article5.html" rel="bookmark">$!{file_articles_article5Title}</a></h2>
