<a href="$!{root}/articles/Karandashi-Magic-ot-KOH-I-NOOR.html"> <img class="img-responsive" src="$!{root}/images/articleImage4"/></a>
<h2 class="box-title"><a href="$!{root}/articles/Karandashi-Magic-ot-KOH-I-NOOR.html" rel="bookmark">$!{file_articles_article4Title}</a></h2>
