<a href="$!{root}/articles/Subbotniy-khud-shopping-bumazhnyy-i-kitayskiy.html"> <img class="img-responsive" src="$!{root}/images/articleImage10"/></a>
<h2 class="box-title"><a href="$!{root}/articles/Subbotniy-khud-shopping-bumazhnyy-i-kitayskiy.html" rel="bookmark">$!{file_articles_article10Title}</a></h2>
