<a href="$!{root}/articles/Kapitalnyy-prednovogodniy-khud-shopping.html"> <img class="img-responsive" src="$!{root}/images/articleImage22"/></a>
<h2 class="box-title"><a href="$!{root}/articles/Kapitalnyy-prednovogodniy-khud-shopping.html" rel="bookmark">$!{file_articles_article22Title}</a></h2>
