<a href="/articles/article6.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2016/02/13/01.jpg"/></a>
<h2 class="box-title"><a href="/articles/article6.html" rel="bookmark">$!{file_articles_article6Title}</a></h2>
