<a href="/articles/article15.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2015/07/25/01.jpg"/></a>
<h2 class="box-title"><a href="/articles/article15.html" rel="bookmark">$!{file_articles_article15Title}</a></h2>
