<a href="/articles/article17.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2015/06/25/01.jpg"/></a>
<h2 class="box-title"><a href="/articles/article17.html" rel="bookmark">$!{file_articles_article17Title}</a></h2>
