<a href="/articles/article4.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2016/03/18/01.jpg"/></a>


<h2 class="box-title"><a href="/articles/article4.html" rel="bookmark">Карандаши "Magic" от KOH-I-NOOR</a></h2>
<div class="box-meta">
$!{file_tags_pencilsTag},
$!{file_tags_reviewTag},
$!{file_tags_artsTag}
</div>
