<a href="/articles/article16.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2015/07/12/01.jpg"/></a>
<h2 class="box-title"><a href="/articles/article16.html" rel="bookmark">$!{file_articles_article16Title}</a></h2>
