<a href="$!{root}/articles/Subbotniy-khud-shopping-istcelyaiushchiy.html"> <img class="img-responsive" src="$!{root}/images/articleImage14"/></a>
<h2 class="box-title"><a href="$!{root}/articles/Subbotniy-khud-shopping-istcelyaiushchiy.html" rel="bookmark">$!{file_articles_article14Title}</a></h2>
