<a href="/articles/article8.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2016/03/12/01.jpg"/></a>
<h2 class="box-title"><a href="/articles/article8.html" rel="bookmark">$!{file_articles_article8Title}</a></h2>
