<a href="$!{root}/articles/Khud-shopping-chastichno-nevidim.html"> <img class="img-responsive" src="$!{root}/images/articleImage19"/></a>
<h2 class="box-title"><a href="$!{root}/articles/Khud-shopping-chastichno-nevidim.html" rel="bookmark">$!{file_articles_article19Title}</a></h2>
