<a href="/articles/article20.html"> <img class="img-responsive" src="http://aterleo.info/lj2/2015/04/08/01.jpg"/></a>
<h2 class="box-title"><a href="/articles/article20.html" rel="bookmark">$!{file_articles_article20Title}</a></h2>
