<nav>
  <ul class="pager">
    <li class="previous"><a href="$!{root}/articles/Tochilka-Bostitch-Twist-N-Sharp.html"><span aria-hidden="true">&larr;</span> Previous</a></li>
    <li class="next"><a href="$!{root}/articles/Magazin-khud-materialov-v-Toronto-fotografii-assortimenta.html">Next <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
