<nav>
  <ul class="pager">
    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
    <li class="next"><a href="$!{root}/articles/Kakie-zhe-oni-karandashi-kitayskie.html">Next <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
