<nav>
  <ul class="pager">
    <li class="previous"><a href="$!{root}/articles/Khud-shopping-bumaga-dlya-akvareli.html"><span aria-hidden="true">&larr;</span> Previous</a></li>
    <li class="next"><a href="$!{root}/articles/Sovmestnyy-khud-shopping.html">Next <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
