<nav>
  <ul class="pager">
    <li class="previous"><a href="$!{root}/articles/Srochnyy-khud-shopping.html"><span aria-hidden="true">&larr;</span> Previous</a></li>
    <li class="next"><a href="$!{root}/articles/Khud-shopping-chastichno-nevidim">Next <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
