<nav>
  <ul class="pager">
    <li class="previous"><a href="$!{root}/articles/Subbotniy-khud-shopping-bumazhnyy-i-kitayskiy.html"><span aria-hidden="true">&larr;</span> Previous</a></li>
    <li class="next"><a href="$!{root}/articles/Khud-shopping-prednovogodnyaya-pritcha.html">Next <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
