<nav>
  <ul class="pager">
    <li class="previous"><a href="$!{root}/articles/Khud-tovary-na-testirovanie-tochilka-PRISMACOLOR.html"><span aria-hidden="true">&larr;</span> Previous</a></li>
    <li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
