<h2 class="featurette-heading">$!{file_articles_article19Title}</h2>
Этот худ. шоппинг частично невидим, потому что, кроме того, что на фото ниже, был еще большой планшет (40х70 см, кажется), который я себе купил в 
<a href="http://leo-tvorit.livejournal.com/74845.html" rel="nofollow">студию</a>. У меня там теперь личный планшет =)
<br>Остальное тут
<br>
<img src="http://aterleo.info/lj2/2015/04/26/01.jpg" class="img-responsive">
<br>Щетина и синтетика для масла. Что интересно, появились кисти "Art-Master", которые являются точной копией Kolos серии "Milk", только 
<span style="line-height: 19.6000003814697px;">"Art-Master". Еще и стоят дешевле.</span>
<br>Продавцы говорят, что производитель один и тот же, но в разных местах изготавливают и им 
<span style="line-height: 19.6000003814697px;">"Art-Master" доставляют дешевле, вот и цена такая</span>
<br>
<br>
<img src="http://aterleo.info/lj2/2015/04/26/02.jpg" class="img-responsive">
<br>А это такой компактный настольный планшет-раскладушка "ROSA" для А4 формата
<br>
<img src="http://aterleo.info/lj2/2015/04/26/03.jpg" class="img-responsive">
<br>Конструкция очень простая: сбоку ремешок
<br>
<img src="http://aterleo.info/lj2/2015/04/26/04.jpg" class="img-responsive">
<br>Внутри есть резиночка для фиксации чего-нибудь, когда планшет закрыт
<br>
<img src="http://aterleo.info/lj2/2015/04/26/05.jpg" class="img-responsive">
<br>Замочек
<br>
<img src="http://aterleo.info/lj2/2015/04/26/06.jpg" class="img-responsive">
<br>И магнит для удерживания бумаги
<br>
<img src="http://aterleo.info/lj2/2015/04/26/07.jpg" class="img-responsive">
<br>О! Совсем забыл! 
<br>Еще недавно купил из щетины
<br>
<img src="http://aterleo.info/lj2/2015/04/26/08.jpg" class="img-responsive">
<br>Очень понравилась тем, что она широкая и тонкая. Широкие и толстые у меня есть, а эта - тонкая! Значит, можно рисовать как широкой, но краски будет идти меньше - как раз для моей техники =)
<br>
<img src="http://aterleo.info/lj2/2015/04/26/09.jpg" class="img-responsive">
<br>А вообще, что-то редко у меня, нынче, худ.шоппинг. Цены выросли и худ. магазины убрали почти все, что не сильно пользовалось спросом и стоило чуть выше среднего. Да и то, что стоило ниже сейчас уже дороже. Смотришь на стоимость всего этого и как-то скучно...
<br>
<span style="font-size:0.7em;">Какое счастье, что я себе запас блокнотов на несколько лет вперед.</span>
<br>
