<h2 class="featurette-heading">$!{file_articles_article5Title}</h2>
Продолжаю серию постов по тестированию разных точилок для карандашей.
<br>
<br>Следующая точилка от производителя "Faber-Castell"
<br>
<img src="http://aterleo.info/lj2/2016/03/09/01.jpg">
<br>
<br>Точилка небольшая, всего около 7 см в длину.
<br>Отверстия под стандартный тонкий и толстый карандаш
<br>
<br>
<img src="http://aterleo.info/lj2/2016/03/09/02.jpg">
<br>
<br>Лезвия как-то чуть длиннее обычного
<br>
<img src="http://aterleo.info/lj2/2016/03/09/03.jpg">
<br>
<br>
<span style="line-height: 19.6px;">Хотя, я пока не знаю как это влияет на затачивание карандашей, потому что длина заточки стандартная.</span>
<br>Стандартный тонкий карандаш Tombow и толстый какой-то китайский
<br>
<img src="http://aterleo.info/lj2/2016/03/09/04.jpg">
<br>
<br>Стружка
<br>
<img src="http://aterleo.info/lj2/2016/03/09/05.jpg">
<br>
<br>Вообще, графитовые карандаши тут, скорее, для примера. С такой длиной заточки, эта точилка больше подойдет для цветных карадашей. Тех же 
<a href="http://leo-tvorit.livejournal.com/80267.html" rel="nofollow">Polychromos от Faber-Castell</a>. 
<br>А если не придираться, то эту точилку и с собой куда-то взять можно для любых карандашей - она самая компактная и легкая из хороших точилок, которые у меня есть. 
<br>
<br>
