<h2 class="featurette-heading">$!{file_articles_article21Title}</h2>
Меня тут (и не тут) уже не единожды спрашивали про 
<a href="http://art-guru.in.ua/ru/predzakaz/90--prismacolor.html" rel="nofollow">точилку PRISMACOLOR</a>. Мол, что оно такое, с чем едят, а главное - зачем?
<br>В общем, попробуем разобраться в предмете...
<br>
<br>Собственно, предмет!
<br>
<img src="http://aterleo.info/lj2/2015/01/26/01.jpg" class="img-responsive">
<br>
<br>Точилка с тем самым заветным словом "PRISMACOLOR"!
<br>
<br>
<img src="http://aterleo.info/lj2/2015/01/26/02.jpg" class="img-responsive">
<br>
<br>Сюда точить (справа даже нарисовано где и как можно поточить карандаш)
<br>
<img src="http://aterleo.info/lj2/2015/01/26/03.jpg" class="img-responsive">
<br>
<br>Так выглядят все ее внутренности: две точилки разных размеров в одной и емкость для стружки
<br>
<img src="http://aterleo.info/lj2/2015/01/26/04.jpg" class="img-responsive">
<br>
<br>Сюда автоматом сгружается стружка
<br>
<img src="http://aterleo.info/lj2/2015/01/26/05.jpg" class="img-responsive">
<br>
<br>Как можно было заметить выше, точилок там встроено две. Ясное дело, точат они по-разному.
<br>Один вариант хорош для карандашей с твердым грифелем, вроде 
<a href="http://leo-tvorit.livejournal.com/5583.html" rel="nofollow">простых карандашей</a> и карандашей серии 
<a href="http://art-guru.in.ua/ru/predzakaz/115--prismacolor-verithin-36-.html" rel="nofollow">PRISMACOLOR Veritin</a>, а второй, собственно, для тех самых, всеми любимых и желаемых 
<a href="http://leo-tvorit.livejournal.com/65382.html" rel="nofollow">PRISMACOLOR Premier Soft</a> (пастельные тоже хорошо идут)
<br>
<img src="http://aterleo.info/lj2/2015/01/26/06.jpg" class="img-responsive">
<br>
<br>Что можно сказать по точилке:
<br>1) точит - это факт;
<br>2) делает это быстро, качественно и даже не вываливает стружку на точившего, как это мило делает одна похожая точилка Faber-Castell;
<br>3) в процессе стержни не ломались, по крайней мере у меня.
<br>
<br>
<a href="http://art-guru.in.ua/ru/predzakaz/90--prismacolor.html" rel="nofollow">Точилка&nbsp;PRISMACOLOR</a> была любезно предоставлена для тестирования мною для меня от имени магазина 
<a href="http://art-guru.in.ua" rel="nofollow">"Арт-Гуру"</a>.
<br>
<br>
