<h2 class="featurette-heading">$!{file_articles_article9Title}</h2>
Вчера у Рената получилось наконец попасть в открытый магазин худ. материалов и сфотографировать, что там есть. По просьбам желающих из комментов к 
<a href="http://leo-tvorit.livejournal.com/93217.html" rel="nofollow">предыдущей записи</a>, фотографии не смотрю себе втихаря, а выкладываю сюда.
<br>Точнее, выкладываю то, что было наиболее интересным для меня, потому что выложить все 80 фотографий - это немного много.
<br>
<br>В общем, Лео берет большую простыню (на случай обильного слюноотделения), станок для сматывания губы в рулон, 
<a href="http://leo-tvorit.livejournal.com/90687.html" rel="nofollow">ведерко для жабы</a> и идет смотреть фоточки!
<br>Магази-и-ин...
<br>
<img src="http://aterleo.info/lj2/2016/02/14/01.jpg" class="img-responsive">
<br>
<br>Это то, что было видно еще с улицы: рамки, раскраски и прочее
<br>
<br>
<img src="http://aterleo.info/lj2/2016/02/14/02.jpg" class="img-responsive">
<br>
<br>Всякие боксы для худ. хламчика
<br>
<img src="http://aterleo.info/lj2/2016/02/14/03.jpg" class="img-responsive">
<br>
<br>Открыточки! Точнее, заготовки под открыточки. Очень красивые, есть тонированные и со всякими эффектами. По 10 шт в наборе + конвертики. Стоимость около 7-8 местных долларов.
<br>Выглядят очень мило, но если бы я рисовал открытки чуть чаще, чем раз в 2-3 года.
<br>Хочу, но не буду...
<br>
<img src="http://aterleo.info/lj2/2016/02/14/04.jpg" class="img-responsive">
<br>
<br>Нравятся всякие наборы для каллиграфии и я бы тут клюнул на некоторые, если бы они заправлялись нормальными чернилами/тушью, а не капсулами, которые нигде не найдешь, когда они нужны!
<br>
<img src="http://aterleo.info/lj2/2016/02/14/05.jpg" class="img-responsive">
<br>
<br>Тут маркеры, но на маркеры я только смотрю, потому что не рисую ими
<br>
<img src="http://aterleo.info/lj2/2016/02/14/06.jpg" class="img-responsive">
<br>
<br>Пастель REMBRANDT - это вкусно! Но у меня, я так понимаю, 
<a href="http://leo-tvorit.livejournal.com/66972.html" rel="nofollow">уже есть самый большой набор</a>...
<br>
<img src="http://aterleo.info/lj2/2016/02/14/07.jpg" class="img-responsive">
<br>
<br>Оу, Moleskine! Самый маленький акварельный у меня есть. Вызывают интерес "Art Journal" с нижней полки и "Premium Scetchbook", но они запечатаны, что внутри - не ясно. Как и то, зачем они мне...
<br>
<img src="http://aterleo.info/lj2/2016/02/14/08.jpg" class="img-responsive">
<br>
<br>О! О! Это они! Микро-наборы акварели, которые мне так ужасно нравятся! Восхотел с первого взгляда квадратный или прямоугольный "Aquafine" (нижний ряд), но Ренат говорит, что за те деньги они как-то совсем не впечатляют и какие-то они хлипкие... Ну, может, тогда "Koi"?...
<br>
<img src="http://aterleo.info/lj2/2016/02/14/09.jpg" class="img-responsive">
<br>
<br>Стенд с линерами - у Лео уже есть линеры...
<br>
<img src="http://aterleo.info/lj2/2016/02/14/10.jpg" class="img-responsive">
<br>
<br>Потом были карандаши. Всякие разные наборы среднего ценового диапазона. Раньше таких было много в наших местных худ. магазинах, а теперь нет...
<br>А у Лео есть!
<br>
<img src="http://aterleo.info/lj2/2016/02/14/11.jpg" class="img-responsive">
<br>
<br>О-о... А такое в реальной жизни у нас никогда не встречалось. PRISMACOLOR только в 
<a href="http://art-guru.in.ua/ru/18-prismacolor" rel="nofollow">инет-магазинах</a>...
<br>
<img src="http://aterleo.info/lj2/2016/02/14/12.jpg" class="img-responsive">
<br>
<br>А теперь блокноты! Много-много блокнотов, склеек, скетчбуков и т.д.
<br>
<img src="http://aterleo.info/lj2/2016/02/14/13.jpg" class="img-responsive">
<br>
<br>Хлопковая бумага для акварели...
<br>
<img src="http://aterleo.info/lj2/2016/02/14/14.jpg" class="img-responsive">
<br>
<br>Что-то средней плотности под всякие "средние" техники
<br>
<img src="http://aterleo.info/lj2/2016/02/14/15.jpg" class="img-responsive">
<br>
<br>Для иллюстраций, 250 г/м.кв., чтоб бумага выдержала если не все, то почти все
<br>
<img src="http://aterleo.info/lj2/2016/02/14/16.jpg" class="img-responsive">
<br>
<br>Тонированные склейки
<br>
<img src="http://aterleo.info/lj2/2016/02/14/17.jpg" class="img-responsive">
<br>
<br>Просто очень красивая склейка
<br>
<img src="http://aterleo.info/lj2/2016/02/14/18.jpg" class="img-responsive">
<br>
<br>А это я точно себе хочу - влажная палитра для акрила. А то аж бесит!
<br>Надо только выбрать какую: с красной крышкой самая большая, а та, что слева, вроде как выглядит лучше. И нужна ли мне самая большая?
<br>
<img src="http://aterleo.info/lj2/2016/02/14/19.jpg" class="img-responsive">
<br>
<br>Всякое вспомогательное. Мыло для кисточек за почти 10 долларов (пусть и канадских) - это как-то жирновато
<br>
<img src="http://aterleo.info/lj2/2016/02/14/20.jpg" class="img-responsive">
<br>
<br>Аэрографы Iwata и краски для аэрографа (слева)... не зря простыню брал, не зря...
<br>
<img src="http://aterleo.info/lj2/2016/02/14/21.jpg" class="img-responsive">
<br>
<br>Какое-то дорогое не знаю что
<br>
<img src="http://aterleo.info/lj2/2016/02/14/22.jpg" class="img-responsive">
<br>
<br>Кисти. Кистей было много фоток, но я их не умею выбирать удаленно.
<br>Кисти нужно все пересмотреть, перетрогать, подумать про размеры - этого по фотографиям не сделаешь
<br>
<img src="http://aterleo.info/lj2/2016/02/14/23.jpg" class="img-responsive">
<br>
<br>Разве что вон ту веерную искусственную белку возьму
<br>
<img src="http://aterleo.info/lj2/2016/02/14/24.jpg" class="img-responsive">
<br>
<br>Водорастворимый графит в баночках - это было бы весьма интересно, но меня цена покусала и заживет еще не скоро...
<br>
<img src="http://aterleo.info/lj2/2016/02/14/25.jpg" class="img-responsive">
<br>
<br>Ну, что я могу сказать обо всем об этом... Язву хотелки я уже заработал.
<br>Фотографий существенно больше по каждому из пунктов: много стендов с кистями, 
<span style="line-height: 19.6px;">наборы карандашей всяких разных, </span>одних только фотографий блокнотов и склеек 23 штуки, и прочее.
<br>
<br>Что там было еще и не было упомянуто? Всякие разные худ. материалы, которые я не использую, но они тоже интересны для кого-то:
<br>- полимерная глина
<br>- какие-то рисовательные тюбики нескольких видов
<br>- мольберты
<br>- много наборов кистей (в основном, дешевого вида)
<br>- Color Wheel разных видов и размеров
<br>- скетч-наборы
<br>- карандаши поштучно
<br>- цветные линеры в наборах
<br>- разные краски в тюбиках, которые везти нет смысла
<br>- и еще какие-то непонятные худ. материалы
<br>
<br>В общем, остается Лео тут страдать...
<br>
<br>
