<h2 class="featurette-heading">$!{file_articles_article15Title}</h2>
Можно сказать, что уже традиционно, отправились мы на худ. шоппинг в мой День рождения. На этот раз компанию мне составили
<br> 
<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nuka_nuk" lj:user="nuka_nuk"><a href="http://nuka-nuk.livejournal.com/profile" target="_self" class="i-ljuser-profile"></a><a href="http://nuka-nuk.livejournal.com/" class="i-ljuser-username" target="_self"><b>Тео</b></a></span> и 
<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="loki1101" lj:user="loki1101"><a href="http://loki1101.livejournal.com/profile" target="_self" class="i-ljuser-profile"></a><a href="http://loki1101.livejournal.com/" class="i-ljuser-username" target="_self"><b>Локи</b></a></span>. Страшная компания... Логику и здравый смысл мы теряем где-то еще по дороге к магазину худ. товаров. Но в этот раз, что удивительно, мы сходили скромно. Нет, здравый смысл не вернулся - нечего было покупать! У нас уже почти все есть, а чего нет - нам не надо. Это было ужасно!
<br>Что-то мы, все же, нашли каждый для себя, но без размаха
<br>
<img src="http://aterleo.info/lj2/2015/07/25/01.jpg" class="img-responsive">
<br>Впервые увидел склейку для акварельных открыток от "Fabriano" и очень она мне понравилась! Как минимум тем, что она в два раза толще вездесущей "Daler-Rowney" + стоит дешевле (по словам Тео). Моя склейка 
<span style="line-height: 19.6000003814697px;">"Daler-Rowney", купленная пару тысяч лет назад, основательно надъедена моими новогодними поздравительными уточками, а купить новую, после поднятия цен, как-то земноводное зеленого цвета не позволяло...</span>
<br>Стандартный открыточный формат, 20 открыток, 300 г/м.кв.
<br>
<br>
<img src="http://aterleo.info/lj2/2015/07/25/02.jpg" class="img-responsive">
<br>Мини-мини-бутылочки! Не знаю для чего, но они мне прям смертельно надо!
<br>Две коричневые не одинаковые - одна в сечении немного треугольная
<br>
<img src="http://aterleo.info/lj2/2015/07/25/03.jpg" class="img-responsive">
<br>Кисть-белка, над которой я планирую жестоко поиздеваться, поэтому из недорогих.
<br>И бамбуковое перо - чисто продавец срекламировал! Мол, давно не было, все время все спрашивали, а тут есть - берите!
<br>
<img src="http://aterleo.info/lj2/2015/07/25/04.jpg" class="img-responsive">
<br>У этого пера есть бонус в черном колпачке - кисть из козьего волоса
<br>
<img src="http://aterleo.info/lj2/2015/07/25/05.jpg" class="img-responsive">
<br>Небольшой мольберт - не декоративный, в отличие от тех, что у меня тут выкладывались ранее - он немного больше (23 см в высоту) и хорошо фиксируется в любом положении
<br>
<img src="http://aterleo.info/lj2/2015/07/25/06.jpg" class="img-responsive">
<br>Крючочки для картин на весь будущий год, а то купленные ранее уже почти закончились...
<br>
<img src="http://aterleo.info/lj2/2015/07/25/07.jpg" class="img-responsive">
<br>И маленькая кюветка акварель "Van Gogh". В следующем посте напишу для чего =)
<br>
<img src="http://aterleo.info/lj2/2015/07/25/08.jpg" class="img-responsive">
<br>А это мы с Тео купили на двоих лист бумаги для масла, чтобы протестировать ее с масляной пастелью и растворителем, а то на обычной как-то не очень...
<br>
<img src="http://aterleo.info/lj2/2015/07/25/09.jpg" class="img-responsive">
<br>
<br>
