<h2 class="featurette-heading">$!{file_articles_article13Title}</h2>
Ко мне тут 
<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nata_panthera" lj:user="nata_panthera"><a href="http://nata-panthera.livejournal.com/profile" target="_self" class="i-ljuser-profile"></a><a href="http://nata-panthera.livejournal.com/" class="i-ljuser-username" target="_self"><b>Сестра</b></a></span> приезжала пару дней назад и мы включили в общую программу худ. шоппинг! А то приехать во Львов и не сходить на худ. шоппинг (даже если совсем не надо) - это как-то бессмысленно...
<br>
<br>И пошли мы наполнять Наташину поездку смыслом!
<br>
<img src="http://aterleo.info/lj2/2015/12/22/01.jpg" class="img-responsive">
<br>Как и всегда в таких случаях, все началось с маленького (А6) блокнотика...
<br>
<br>Вообще, я так смотрю, что большинство беспределов в худ. магаине начинается с какого-то невинного блокнотика! Никогда не верьте маленьким блокнотикам! За их наивным видом скрывается порочная душа! Стоит только взять в руки маленький хорошенький блокнотик и не замечаешь, как уже выходишь из худ. магазина с полными руками всякого добра!
<br>В общем, блокнотик "Scope" 
<strike style="line-height: 19.6px;">
 который во всем виноват
</strike>, А6, черная бумага
<br>
<img src="http://aterleo.info/lj2/2015/12/22/02.jpg" class="img-responsive">
<br>Масло "Maries" и флуоресцентный акрил "Maimeri" - добыча сестры
<br>
<img src="http://aterleo.info/lj2/2015/12/22/03.jpg" class="img-responsive">
<br>Маленький мольбертик и мастихин - тоже сестры
<br>
<img src="http://aterleo.info/lj2/2015/12/22/04.jpg" class="img-responsive">
<br>А это уже маё!
<br>Тубус с угольками
<br>
<img src="http://aterleo.info/lj2/2015/12/22/05.jpg" class="img-responsive">
<br>Натуральный древесный уголь. Не столько мне нужен был уголь, сколько тубус, в который можно еще засунуть все мои уже давно купленные угольки.
<br>Ладно, вру, не все, но хотя бы самые тонкие!
<br>Производитель не сильно плотно набивал эти тубусы, так что место есть, чтобы туда еще угольков повсовывать, а то валяются всюду в пакетиках полиэтиленовых и бесят...
<br>
<img src="http://aterleo.info/lj2/2015/12/22/06.jpg" class="img-responsive">
<br>Две упаковки тонированных холстиков по 5 шт: 10х15 см и 15х15 см. Это мы с Наташей поделили по потребностям 
<strike>
 между мне не надо и тебе не пригодится
</strike>
<br>
<img src="http://aterleo.info/lj2/2015/12/22/07.jpg" class="img-responsive">
<br>Веерная щетина для сестры
<br>
<img src="http://aterleo.info/lj2/2015/12/22/08.jpg" class="img-responsive">
<br>Хорошо сходили =)
<br>
<br>К сожалению, у нас не совсем получилось качественно развернуться в худ. магазине, потому что там какой-то предновогодний аншлаг - народу много, продавцы спешат и подумать чего бы еще взять нет времени!
<br>
