<h2 class="featurette-heading">$!{file_articles_article8Title}</h2>
Недавно был 
<a href="http://leo-tvorit.livejournal.com/94723.html" rel="nofollow">очень короткий пост</a> про то, что худ. шоппинг в Торонто удался, теперь об этом детальнее.
<br>
<br>Это весь худ. шоппинг
<br>
<img src="http://aterleo.info/lj2/2016/03/12/01.jpg" class="img-responsive">
<br>И будем его разбирать...
<br>
<br>Начну с блокнотов, потому что их много. Точнее, их больше, чем всего остального, потому что "много" блокнотов не бывает!
<br>Небольшой блокнотик где-то А5 формата (15,2 х 20,3 см) с 300-граммовой бумагой из 100% хлопка! Ум-м...
<br>
<img src="http://aterleo.info/lj2/2016/03/12/02.jpg" class="img-responsive">
<br>Эти блокноты для набросков и зарисовок тоже чистый мёд! Они такие приятные на ощупь, что их хочется гладить часами, как котика!
<br>Бумага тоже очень приятная во всех отношениях: гладкая, с каким-то волокнистым рисунком, тонированная под бежевый и серый цвет.
<br>Два формата: 19,7 х 24,8 см и 14 х 20,3 см.
<br>112 листов, плотность 80 г/м.кв.
<br>
<img src="http://aterleo.info/lj2/2016/03/12/03.jpg" class="img-responsive">
<br>Склейка чуть шире А4 формата (22,8 х 30,4 см) для мягких техник, 40 листов, плотностью 147 г/м.кв.
<br>
<img src="http://aterleo.info/lj2/2016/03/12/04.jpg" class="img-responsive">
<br>Блокнот с плотной (250 г/м.кв.), но гладкой бумагой - специально для работ тушью, ручками и прочим.
<br>22,9 х 30,5 см, 15 листов
<br>
<img src="http://aterleo.info/lj2/2016/03/12/05.jpg" class="img-responsive">
<br>Этот блокнот уже не для рисования - он линованный.
<br>Обложка такая прям, как бархатная, формат больше А5, но меньше А4
<br>
<img src="http://aterleo.info/lj2/2016/03/12/06.jpg" class="img-responsive">
<br>"Влажная" палитра для акрила! ОГРОМНАЯ влажная палитра для акрила... Ренат решил, что мне нужно взять самую большую и я в ней смогу даже кораблики пускать, при небольшом желании =)
<br>
<img src="http://aterleo.info/lj2/2016/03/12/07.jpg" class="img-responsive">
<br>И склейка отрывных палитр к ней
<br>
<img src="http://aterleo.info/lj2/2016/03/12/08.jpg" class="img-responsive">
<br>Веерная кисть, которой я таки согрешил удаленно и нож для палитры (онаконец он у меня есть и больше не буду сдирать краску мастихинами!)
<br>
<img src="http://aterleo.info/lj2/2016/03/12/09.jpg" class="img-responsive">
<br>Водяная кисть Koi #2 размера (Small),&nbsp;на своем примере демонстрирует самый злой закон подлости.
<br>У меня уже есть 
<a href="http://leo-tvorit.livejournal.com/45268.html" rel="nofollow">две водяные кисти Koi: Small (#2) и Large (#8)</a>. Мне к ним очень хотелось еще заиметь Medium (#6) и она оказалась на фото из 
<a href="http://leo-tvorit.livejournal.com/93783.html" rel="nofollow">того магазина</a>! Еще и был вариант с увеличенным контейнером для воды, а то мои совсем по размеру пипетки - отлично! Берем!
<br>И привозит Ренат кисть Koi с увеличенным контейнером... Small (#2)! А! Ну, как же так?!!
<br>Ренат взял кисть там, где висели размеры #6 с нужным контейнером, но туда случайно попала маленькая кисть... Взял на автомате, не проверив...
<br>Вероятно, это моя карма... #6 кисть ко мне не хочет...
<br>
<img src="http://aterleo.info/lj2/2016/03/12/10.jpg" class="img-responsive">
<br>Тот самый ArtGraf 
<strike>
 за стотыщьмиллионов
</strike>, который Ренат купил чисто по своей инициативе, потому что меня бы удавили все земноводные мира...
<br>
<img src="http://aterleo.info/lj2/2016/03/12/11.jpg" class="img-responsive">
<br>Арт-стики PRISMACOLOR. Ренат купил мне потестировать несколько штук. Это не сухая пастель и даже не масляная, это что-то качественно иное. Больше всего похоже на восковые мелки, но будем разбираться...
<br>
<img src="http://aterleo.info/lj2/2016/03/12/12.jpg" class="img-responsive">
<br>Столько добра... Столько добра...
<br>Теперь я все это буду 
<strike>
 складировать и охранять
</strike> рассматривать, тестировать и даже иногда сюда постить =)
<br>
<br>Ренату еще раз большое спасибо! 
<br>
