<h2 class="featurette-heading">$!{file_articles_article18Title}</h2>
Это был очень жадный худ. шоппинг...
<br>Набрал много такого, с чем даже не знаю, что теперь делать
<br>
<img src="http://aterleo.info/lj2/2015/05/25/01.jpg" class="img-responsive">
<br>
<br>А все началось с этих двух коробочек
<br>
<br>
<img src="http://aterleo.info/lj2/2015/05/25/02.jpg" class="img-responsive">
<br>
<br>В одной - большие мелки цветного угля, в другой - цветного графита. Мне просто захотелось большие мелки. И взять бы какие-то одни, но как выбрать какие?
<br>В коробке с углем есть белый, а в коробке с графитом - синий и зеленый. Еще белый уголь, синий и зеленый графит продавались поштучно, хоть и сильно дороже в пересчете. Я решил было взять одну коробку чего-то и добрать поштучно из другого. Пока "добирать" начал уже в количестве 3 или 4 шт, Ренат не выдержал и просто забрал обе коробки =)
<br>Теперь вопрос: на чем можно рисовать такими большими мелками?
<br>(асфальт не предлагать)
<br>
<img src="http://aterleo.info/lj2/2015/05/25/03.jpg" class="img-responsive">
<br>
<br>Дальше было хуже...
<br>Мы увидели масляные краски "Maimeri" в больших, просто огромных тубах (200 мл) по акции (каждая стоила не сильно дороже 50 мл красок "Мастер-Класс").
<br>Ультрамарин, умбра и кобальт фиолетовый в кошмарных количествах. Зато 
<a href="http://leo-tvorit.livejournal.com/78687.html" rel="nofollow">крышечки не поотрываются</a>!
<br>
<img src="http://aterleo.info/lj2/2015/05/25/04.jpg" class="img-responsive">
<br>
<br>Белила в большой тубе взял уже не по акции, а потому что это белила
<br>
<img src="http://aterleo.info/lj2/2015/05/25/05.jpg" class="img-responsive">
<br>
<br>Маленький тюбик тиоиндиго на фоне всего, что было выше уже как-то даже и не впечатляет...
<br>
<img src="http://aterleo.info/lj2/2015/05/25/06.jpg" class="img-responsive">
<br>
<br>А это контейнеры для краски, которые плотно закрываются и я подумал, что из них могут получиться отличные маслянки!
<br>Разрезать по 2 шт и готово!
<br>
<img src="http://aterleo.info/lj2/2015/05/25/07.jpg" class="img-responsive">
<br>
<br>И еще была кисть "Art-Master" №1, она есть на первом фото.
<br>
<br>Еще один вопрос: есть много ультрамарина, умбры и кобальта фиолетового, что такого большого ими можно нарисовать? Приветствуются любые идеи!
<br>Про море, небо и камни мы уже думали =)
<br>
<br>
