<h2 class="featurette-heading">$!{file_articles_article14Title}</h2>
"Пора бы возвращаться к жизни" - подумал Лео и решил, что надо бы заняться самоисцелением! Значит, срочно нужен худ. шоппинг! 
<br>И пошел Лео на очень быстрый, но эффективный худ. шоппинг
<br>
<img src="http://aterleo.info/lj2/2015/10/30/01.jpg" class="img-responsive">
<br>Самый "изюм" среди купленного - набор колонковых мини-кистей
<br>
<br>
<img src="http://aterleo.info/lj2/2015/10/30/02.jpg" class="img-responsive">
<br>Все самые необходимые размеры и типы кистей в одном наборчике!
<br>Вопросы вызывает только крайняя справа металлическая штука. Кто знает для чего она?
<br>
<img src="http://aterleo.info/lj2/2015/10/30/03.jpg" class="img-responsive">
<br>Две аквакисти, которые впервые привезли в худ. магазин. Название не знаю - на них ничего не написано, только штрих-код. 
<br>Что-то китайское...
<br>
<img src="http://aterleo.info/lj2/2015/10/30/04.jpg" class="img-responsive">
<br>Две кисти "Art Vaster" самых расходных размеров
<br>
<img src="http://aterleo.info/lj2/2015/10/30/05.jpg" class="img-responsive">
<br>Насквозь зеленый блокнотик "Scope" - все страницы такого же цвета, как и обложка
<br>
<img src="http://aterleo.info/lj2/2015/10/30/06.jpg" class="img-responsive">
<br>Эти два блокнота А5 формата покрашены по тому же принципу, только бумага для пастели, 40% хлопка и плотность ее 160 г/м.кв. 
<br>
<img src="http://aterleo.info/lj2/2015/10/30/07.jpg" class="img-responsive">
<br>Блокнот для зарисовок, который понравился своим форматом (11 см х 17,5 см)
<br>
<img src="http://aterleo.info/lj2/2015/10/30/08.jpg" class="img-responsive">
<br>И... да, снова блокнот! 
<br>В комплекте: блок бумаги, обложка и кольцо
<br>
<img src="http://aterleo.info/lj2/2015/10/30/09.jpg" class="img-responsive">
<br>Кольцо нужно продеть через бумагу и обложку
<br>
<img src="http://aterleo.info/lj2/2015/10/30/10.jpg" class="img-responsive">
<br>Получается удобный блокнотик! 
<br>Уже пользуюсь, оценил!
<br>
<img src="http://aterleo.info/lj2/2015/10/30/11.jpg" class="img-responsive">
<br>Тонированные черные холсты 10х15 см
<br>
<img src="http://aterleo.info/lj2/2015/10/30/12.jpg" class="img-responsive">
<br>И большая на фото, но маленькая в жизни - черная резинка "Milan"
<br>
<img src="http://aterleo.info/lj2/2015/10/30/13.jpg" class="img-responsive">
<br>C момента этого худ. шоппинга уже прошло время и я прям чую, как мне становится с каждым днем все лучше! 
<br>Не зря сходили =) 
<br>
