<h2 class="featurette-heading">$!{file_articles_article7Title}</h2>
Постоянно нахожусь в поисках идеальной точилки. По большей части, для всяких цветных карандашей, потому что простые точу канц. ножом, но и для них у меня есть 
<a href="http://leo-tvorit.livejournal.com/32691.html" rel="nofollow">специальная точилка</a>, если надо поточить много за раз.
<br>На этот раз мне в руки попала точилка "Bostitch Twist-N-Sharp". В основном, привлекла каким-то механизмом, который меняет форму стержня при затачивании. Захотелось посмотреть!
<br>
<br>Это она
<br>
<img src="http://aterleo.info/lj2/2016/01/31/01.jpg" class="img-responsive">
<br>А теперь посмотрим...
<br>
<br>Внешне красивая
<br>
<img src="http://aterleo.info/lj2/2016/01/31/02.jpg" class="img-responsive">
<br>Сделана под один стандартный размер карандаша
<br>
<img src="http://aterleo.info/lj2/2016/01/31/03.jpg" class="img-responsive">
<br>Контейнер для мусора
<br>
<img src="http://aterleo.info/lj2/2016/01/31/04.jpg" class="img-responsive">
<br>Переключатель способа затачивания: острый стержень и с плоским кончиком
<br>
<img src="http://aterleo.info/lj2/2016/01/31/05.jpg" class="img-responsive">
<br>Надо протестировать!
<br>Как на зло, когда нужно что-то поточить, оказывается, что все стотыщмиллионов моих карандашей уже заточены! Пришлось взять еще новый, лишь слегка затупившийся Stabilo (в полоску), совсем под ноль срисованный пастельный (крайний слева) и пожартвовать одним из любимых 
<a href="http://leo-tvorit.livejournal.com/43257.html" rel="nofollow">Tombow</a> (черный) для затачивания с плоским кончиком.
<br>
<span style="line-height: 19.6px;">Stabilo заточен под стандартный острый кончик, а </span>
<span style="line-height: 19.6px;">Tombow и пастельный под плоский. Для пастельного оказалось очень удобно, потому что обычные точилки все точат под острый и часть стержня крошится либо в процессе, либо сразу после, а тут включаешь ограничитель и он не затачивая сильно стержень, снимает понемногу все остальное. </span>
<br>Нужна ли плоская заточка для простого карандаша? Не знаю. Пригодиться может - я часто специально держу затупленные карандаши для определенного вида работ и это тоже вариант.
<br>Иногда, чтобы затупить какой-нибудь 8Н, нужно очень постараться...
<br>
<img src="http://aterleo.info/lj2/2016/01/31/06.jpg" class="img-responsive">
<br>Точилка с выставленным ограничителем для стержня и стружка от карандашей
<br>
<img src="http://aterleo.info/lj2/2016/01/31/07.jpg" class="img-responsive">
<br>Инструкция от производителя
<br>
<img src="http://aterleo.info/lj2/2016/01/31/08.jpg" class="img-responsive">
<br>В общем, точилка в коллекцию!
<br>
