<h2 class="featurette-heading">$!{file_articles_article20Title}</h2>
К сожалению, моя реалистично-вылизывательная техника рисования маслом, предполагает, что Лео если не перед каждой новой работой, то через одну точно - идет в магазин за новыми кистями. Быстрее всех уходят всякие там "единички" и "нулевки". Вот и на этот раз, после всех этих тычинок-росинок, "нулевка" стерлась почти под самый корень. Значит, надо идти за новой... Первый раз пошел и вернулся ни с чем - дешевых кистей из жесткой синтетики Ivory "Живопись" не было. Печаль.
<br>
<br>Через неделю пошел снова...
<br>
<img src="http://aterleo.info/lj2/2015/04/08/01.jpg" class="img-responsive">
<br>
<br>По дороге к кистям случайно споткнулся у стенда с блокнотами...
<br>
<br>Небольшой патриотичный блокнотик А6 размера =)
<br>
<img src="http://aterleo.info/lj2/2015/04/08/02.jpg" class="img-responsive">
<br>
<br>Это тетрадь в клеточку - взял, потому что недавно начал срочно учить англ. язык (мне подарили 
<a href="http://leo-dikiy.livejournal.com/215617.html" rel="nofollow">ужасно интересную книгу</a>, которая существует только в ужасном англ. варианте!) и в куче своих блокнотов еле нашел каких-то пару некрасивых тетрадей. Пусть будет на случай, если снова понадобится...
<br>
<img src="http://aterleo.info/lj2/2015/04/08/03.jpg" class="img-responsive">
<br>
<br>Боги-боги... Когда же я перестану кидаться на все, что идет с черной бумагой?
<br>
<img src="http://aterleo.info/lj2/2015/04/08/04.jpg" class="img-responsive">
<br>
<br>Но она же такая красивая!
<br>
<img src="http://aterleo.info/lj2/2015/04/08/05.jpg" class="img-responsive">
<br>
<br>Такая... такая черная! Не мог не взять, просто не мог...
<br>
<img src="http://aterleo.info/lj2/2015/04/08/06.jpg" class="img-responsive">
<br>
<br>Два мелка: уголь и пастель. Пастель сказали, что не черная, а темно-серая, черной у них нет. Мне кажется, что она таки черная. Надо будет сравнить со своей черной из набора. Вот
<br>
<img src="http://aterleo.info/lj2/2015/04/08/07.jpg" class="img-responsive">
<br>
<br>Самые маленькие биндеры - очень полезные штуки в хозяйстве!
<br>Одна коробочка мне, вторая - 
<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="loki1101" lj:user="loki1101"><a href="http://loki1101.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="img-responsive" src="http://l-stat.livejournal.net/img/userinfo.gif?v=17080?v=139.2"></a><a href="http://loki1101.livejournal.com/" class="i-ljuser-username" target="_self"><b>Локи</b></a></span>
<br>
<img src="http://aterleo.info/lj2/2015/04/08/08.jpg" class="img-responsive">
<br>
<br>А, да... кисти я тоже купил! 
<br>Но не Ivory, а ужасно дорогие Kolos Milk и Kolos Snow. Тех сказали, что больше уже не будет - им не выгодно их брать, дорогие стали. 
<br>А эти мне совсем невыгодно покупать... 
<br>
<img src="http://aterleo.info/lj2/2015/04/08/09.jpg" class="img-responsive">
<br>
<br>Будем искать что-то еще того же типа. Но в целом, худ. шоппинг удался =) 
<br>
<br>
