<h2 class="featurette-heading">$!{file_articles_article6Title}</h2>
Как и обещал, начинаю тест акварельных карандашей на честной акварельной бумаге.
<br>Все вместе в один пост городить не буду, тут - про бумагу, позже будет еще про размывку и отдельный обзор карандашей. Поэтому, пока про карандаши загадочно молчу, а про бумагу смотрим и читаем ниже.
<br>
<br>Причина написания этого поста 
<a href="http://leo-tvorit.livejournal.com/92155.html" rel="nofollow">была указана ранее</a>, тут лишь коротко напомню, что были некоторые вопросы к моим обзорам акварельных карандашей, которые касались бумаги для этих самых карандашей: какую бумагу взять и будет ли удобна для штриховки и размывки?
<br>
<br>
<span style="line-height: 19.6px;">Бумага - тонированная "яичная скорлупа" очень светлого бежевого цвета, 200 г/м.кв. Она была выложена в </span>
<a href="http://leo-tvorit.livejournal.com/92930.html" style="line-height: 19.6px;" rel="nofollow">последнем худ. шоппинге</a>
<span style="line-height: 19.6px;">. </span>
<br>Рисую на тыльной стороне листа, потому что по самой "скорлупе" карандашами рисовать как-то сильно жестко.
<br>Начало работы - можно посмотреть как ложится штрих
<br>
<img src="http://aterleo.info/lj2/2016/02/13/01.jpg" class="img-responsive">
<br>
<br>Все фрагменты на фото увеличены - в жизни они не более 5 см по широкой стороне
<br>
<br>
<img src="http://aterleo.info/lj2/2016/02/13/02.jpg" class="img-responsive">
<br>
<br>Максимальное увеличение. Тут проглядываются некоторые полосы и скопления пигмента, но это не проблема бумаги, как и не проблема акварельных карандашей - после размывки этого не будет.
<br>Этот фрагмент в ширину 3,5 см
<br>
<img src="http://aterleo.info/lj2/2016/02/13/03.jpg" class="img-responsive">
<br>
<br>В общем, пока все замечательно и фактура бумаги для этих карандашей подходит идеально
<br>
<img src="http://aterleo.info/lj2/2016/02/13/04.jpg" class="img-responsive">
<br>
<br>Ох, какой ядовитый синий у меня тут получился... Зато насыщенный! =)
<br>
<img src="http://aterleo.info/lj2/2016/02/13/05.jpg" class="img-responsive">
<br>
<br>Так что, как минимум для штриховки, эта бумага вполне себе даже подходит.
<br>К слову, "яичная скорлупа", как самая дешевая и самая распространенная, была взята специально, чтоб не было потом: "Ну, и где же это ваше Fabriano 100% хлопок ручной работы взять?!"
<br>
<br>
