<h2 class="featurette-heading">$!{file_articles_article2Title}</h2>
Был у меня тут как-то 
<a href="http://leo-tvorit.livejournal.com/92930.html" rel="nofollow">худ. шоппинг с купленными китайскими худ. товарами</a> и попросили показать какие же эти их мега-карандаши: 8В, 12В, 14В и нестандартный 2В.
<br>Ок, показываю!
<br>
<br>Собственно, карандаши: два стандартных размеров, но с какой-то очень жирной маркировкой (14В и 12В), один толстый (8В) и еще один толстый и с плоским грифелем (2В)
<br>
<img src="http://aterleo.info/lj2/2016/03/23/01.jpg">
<br>
<br>Начнем с верхних трех.
<br>Толстый 8В был заточен в ходе 
<a href="http://leo-tvorit.livejournal.com/95128.html" rel="nofollow">тестирования точилки "Faber-Castell"</a>.&nbsp;Два стандартных с очень жирной маркировкой было как-то страшновато точить сразу до острого, поэтому сперва были заточены до чего-то среднего
<br>
<br>
<img src="http://aterleo.info/lj2/2016/03/23/02.jpg">
<br>
<br>Пробуем...
<br>Рисуют мягко, но не то, чтобы результат прям в разы превосходил те карандаши, которые у меня уже есть и которые имеют максимальную маркировку 8В или 9В
<br>
<img src="http://aterleo.info/lj2/2016/03/23/03.jpg">
<br>
<br>Немного смутили надписи на карандашах: ну, "супер дарк" - это понятно, а вот где в 14В находится уголь - не ясно. Графит, как есть...
<br>
<img src="http://aterleo.info/lj2/2016/03/23/04.jpg">
<br>
<br>Думаю, надо их таки заточить по максимуму и посмотреть, что будет. 
<br>Все нормально, никто в процессе не поломался и не раскрошился (не представляю как можно заточить до такой степени угольный)
<br>
<img src="http://aterleo.info/lj2/2016/03/23/05.jpg">
<br>
<br>Захотелось сравнить 14В Китай с 6В Tombow (просто, под руками был). 
<br>Да, Китай (К) темнее, но не прям в два с копейками раза...
<br>
<img src="http://aterleo.info/lj2/2016/03/23/06.jpg">
<br>
<br>Теперь толстый плоский. В точилку его, ясное дело не засунешь, так что по старинке точу канц. ножом.
<br>И тут карандаш удивил меня впервые и не очень приятно. Деревянный корпус любого карандаша состоит из двух половинок и у этого в том числе. Так вот, одна половинка поточилась нормально, а об вторую у меня чуть нож не сломался! Ее из мореного дуба вырезали, что ли?! Вторая половинка карандаша напрочь отказалась нормально точиться и разве что отламывалась кусками почти вместе с лезвием ножа.
<br>На фото видно как поточились обе части карандаша
<br>
<img src="http://aterleo.info/lj2/2016/03/23/07.jpg">
<br>
<br>На этом неприятные сюрпризы не закончились, потому что рисует этот карандаш - ну, совсем никак... На нем написано 2В, но это похоже на какой-то очень некачественный 2Н или даже 4Н.
<br>У меня есть столярный карандаш из строительного магазина - он рисует лучше! 
<br>
<img src="http://aterleo.info/lj2/2016/03/23/08.jpg">
<br>
<br>В общем, что-то в этих китайских карандашах, конечно, есть (кроме последнего), но маркировка явно не соответствует действительности. Думаю, ее такую нанесли единственно для того, чтобы привлечь внимание. Два карандаша 12В и 14В мне нравятся, просто, как хорошие мягкие карандаши. Толстый 8В нравится скорее тем, что он толстый, а не 8В, которых в нем нет. А вот плоский, типа 2В - ацтой жестокий.
<br>
<br>
