<h2 class="featurette-heading">$!{file_articles_article10Title}</h2>
Как уже говорилось в 
<a href="http://leo-tvorit.livejournal.com/92155.html" rel="nofollow">предыдущем посте про худ. шоппинг</a>, мне была нужна бумага для акварели, чтоб уж совсем по фэн-шую сделать тест акварельных карандашей. В тот раз у меня не было времени хорошо посмотреть на бумагу и выбрать то, что нужно. В этот раз наш худ. шоппинг был обстоятелен и неспешен 
<strike>
 одной бумагой дело не обошлось
</strike> =)
<br>Вот и результат
<br>
<img src="http://aterleo.info/lj2/2016/02/07/01.jpg" class="img-responsive">
<br>Все началось с выбора бумаги, но отдел с бумагой находится в самом конце магазина! И что, Лео будет вот так просто идти мимо всего?... МИМО?! Это же бессмысленно.
<br>Сперва мы остановились у нового стенда со всяким рисовательным барахлом. Почему оно "барахло" я напишу, все же, после бумаги.
<br>После, Лео увидел пластиковый тубус-пенал, который всегда очень полезен в хозяйстве - у меня их уже под 10 шт и пустой только самый маленький. А тут еще привезли большего размера и у меня такого нет! В общем, пенал ушел со мной. Отдельно фото выкладывать не буду - его хорошо видно на том, что выше.
<br>И уже после пенала была бумага...
<br>
<br>Обстоятельно перебрал все, что было в наличии, выбрал два вида тонированной бумаги с легкой фактурой.
<br>Фото получилось очень не очень - в жизни оба листа слегка желтоватого цвета и разница между ними слабо заметна. Та, что имеет бежевый оттенок - классическая "скорлупка". Планирую рисовать карандашами на ее тыльной стороне.
<br>Оба листа уже нарезаны на мелкие части около 17х25 см 
<br>
<img src="http://aterleo.info/lj2/2016/02/07/02.jpg" class="img-responsive">
<br>Не то, чтобы сильно нужно и не то, чтобы я сильно верил в бумагу для акварели плотностью 200 г/м.кв., но повелся на четырехстороннюю проклейку блока бумаги, которая должна бы гарантировать несъеживание 200-граммовой бумаги после намокания. Проверим...
<br>Хотелось бы А5 для тестов, а не А4, но такой же блок А5 формата уже был без проклейки, что полностью лишало смысла его покупку.
<br>Склейка-блок для акварели "Rosa", А4 формат, 20 листов, 200 г/м.кв.
<br>
<img src="http://aterleo.info/lj2/2016/02/07/03.jpg" class="img-responsive">
<br>Теперь вернусь к новому стенду с худ. барахлом.
<br>Вообще, что-то меня сильно расстраивает в последнее время ассортимент худ. магазинов и этого в частности. Почти полностью исчезли какие-то интересные эксклюзивные худ. материалы, а все полки наполнились "китаем" чуть менее, чем полностью. Я понимаю, что рост курса доллара и все такое, но надо же оставить хоть что-то для тех, кому не все равно, что покупать?!
<br>Раньше были разные наборы карандашей "DERWENT", "STAEDTLER", "Faber-Castell" и прочих из той же ценовой категории, а сейчас все в наборах 
<strike>
 отстойных
</strike> "Marco", которые хороши разве что для школьников. В лучшем случае, наборы "CRETACOLOR", что тоже, в общем, терпимо, но явно не "фонтан". И это только карандаши. Некоторые худ. инструменты исчезли вообще полностью и без каких-либо заменителей, вроде тех же 
<a href="http://leo-tvorit.livejournal.com/84535.html" rel="nofollow">изографов</a>.
<br>Но карандаши "Marco" - это хотя бы визуально зашифрованный "китай", а тут поставили стенд уже с самым, что ни на есть откровенным "китаем"! Ужасненькие наборчики карандашей, пастели, акварели и прочего. Стоит дешево, конечно, но на них даже смотреть как-то страшновато...
<br>Впервые Лео смотрел на новые худ. материалы и что-то совсем не хотел их все себе. Так ведь и до депрессии себя довести недолго! Постоял, помедитировал, сходил за бумагой, вернулся, еще подумал и взял маленькую стремненькую коробочку стремненькой пастели, которой обещались свойства водорастворимой. Точнее, оно типа даже углем называется, так что пока не ясно чему верить.
<br>Пастель/уголь "Maries", 12 цветов, водорастворимая (предположительно).
<br>
<span style="font-size:0.7em;">Теперь вот лежит и даже как-то открывать нет желания... </span>
<br>
<img src="http://aterleo.info/lj2/2016/02/07/04.jpg" class="img-responsive">
<br>С карандашами все было еще более удивительно! Появился внушительных размеров стенд с простыми карандашами поштучно.
<br>Удивляла больше всего маркировка, вроде 12В, 14В... Вот эту "удивительную маркировку" и взяли.
<br>Простые карандаши: 14В, 12В, 8В и 2В (для сравнения)
<br>
<img src="http://aterleo.info/lj2/2016/02/07/05.jpg" class="img-responsive">
<br>В общем, как-то оно немного расстраивает...
<br>
<br>И какой же Лео молодец, что все эти годы ходил на худ. шоппинги и покупал-покупал-покупал всякие разные хорошие худ. материалы! Складировал, консервировал и никогда не останавливался на достигнутом! Я теперь богат! Реально богат! Эти все хорошие карандаши, блокноты-склейки, кисти и прочее - даже лучшее вложение денег, чем если бы я покупал золотые слитки!
<br>В-)
<br>
