<h2 class="featurette-heading">$!{file_articles_article4Title}</h2>
У меня тут один обзор конкретно завалялся... Фото отснято полтора года назад, а руки... руки вот только дошли.
<br>Будем наверстывать!
<br>
<br>В те незапамятные времена эти карандаши нельзя было найти ни днем с огнем, ни ночью с фонариком, поэтому радость моя по случаю их покупки 
<a href="http://leo-tvorit.livejournal.com/53000.html" rel="nofollow">была просто безгранична</a>!
<br>
<img src="http://aterleo.info/lj2/2016/03/18/01.jpg" class="img-responsive">
<br>
<br>Да, это они - карандаши "Magic" от производителя KOH-I-NOOR! И они мне до сих пор нравятся!
<br>
<br>
<img src="http://aterleo.info/lj2/2016/03/18/02.jpg" class="img-responsive">
<br>
<br>В наборе, как они сами пишут, 23+1 карандашей. Собственно, 23 - это карандаши, а тот +1 - это блендер
<br>
<img src="http://aterleo.info/lj2/2016/03/18/03.jpg" class="img-responsive">
<br>
<br>Все карандаши трехцветные и стержни состоят из гармонично подобранных оттенков
<br>
<img src="http://aterleo.info/lj2/2016/03/18/04.jpg" class="img-responsive">
<br>
<br>Красиво смотрятся, даже если не рисовать =)
<br>
<img src="http://aterleo.info/lj2/2016/03/18/05.jpg" class="img-responsive">
<br>
<br>Но не рисовать не интересно, поэтому надо пробовать: мутное пятно слева сверху - блендер, он там просто за компанию.
<br>Карандаши рисуют очень интересно
<br>
<img src="http://aterleo.info/lj2/2016/03/18/06.jpg" class="img-responsive">
<br>
<br>Инструкция, которая была в наборе
<br>
<img src="http://aterleo.info/lj2/2016/03/18/07.jpg" class="img-responsive">
<br>
<br>За это время у меня было много зарисовок этими карандашами, но оно как-то все было больше для удовольствия - ими просто приятно водить по бумаге и смотреть, что получается. Много бумаги перевел, просто зарисовывая ее всякими бессмысленными узорами и пятнами. Еще были очень простые рисунки, вроде: одно дерево, один кустик, два кустика, фруктик и снова какая-то абстрактная ерунда.
<br>Наверное, единственный осмысленный вариант, который у меня есть этими карандашами - осенняя зарисовка на тему Карпат. Мне понравилась лиственница с осенней рыжей хвоей, а остальное было просто за компанию.
<br>Формат А5
<br>
<img src="http://aterleo.info/lj2/2016/03/18/08.jpg" class="img-responsive">
<br>
<br>Конечно, по качеству карандаши "Magic" уступают всяким профессиональным, вроде 
<a href="http://leo-tvorit.livejournal.com/65382.html" rel="nofollow">PRISMACOLOR</a>, 
<a href="http://leo-tvorit.livejournal.com/80267.html" rel="nofollow">Faber-Castell</a>, 
<a href="http://leo-tvorit.livejournal.com/82481.html" rel="nofollow">Tombow</a>, но пигмент все равно достаточно яркий, а своей некоторой непредсказуемостью компенсируют очень многое.
<br>Еще такие многоцветные карандаши помогают тем, у кого пока проблемы с подбором цветов для того, чтобы сделать картину чуть более живописной. Новички, часто, закрашивают сплошняком зеленое - чисто зеленым, синее - чисто синим и т.д. Реальность же куда более многоцветна и это нужно научиться видеть, а пока "видеть" не получаются, карандаши-мэйджики помогут добавить оттенки нужного цвета. 
<br> 
<br>Хотелось бы еще отдельно сказать про карандаши "Magic", которые продают поштучно и всякие аналоги, которые сейчас стали производить все, кому не лень - они совершенно не такие. Там цвета подобраны (если можно это назвать словом "подобраны") бестолково и рисовать ими что-то осмысленное не получится. Это скорее просто случайное сочетание ярких цветов, чтоб люди покупали ради прикола. Надеюсь, я как-то покажу это в картинках и надеюсь, что это будет не через еще полтора года =)
<br>
<br>
