<h2 class="featurette-heading">$!{file_articles_article11Title}</h2>
Это был такой себе тестовый забег за блокнотом и несколькими листами бумаги. Планирую еще один где-то позже.
<br>
<br>Для чего? Меня тут после обзорных постов акварельных карандашей уже несколько раз спрашивали, а на честной ли акварельной бумаге Лео карандаши тестирует? И Лео задумался: "А в самом деле, на честно ли?". После чего пошел смотреть на характеристики бумаги в склейке, откуда выдираются листы на тесты акварельных карандашей: 160 г/м.кв. Оно, конечно, типа как бы и для мокрых техник, но очень спорная такая плотность бумаги, если закрашивать весь лист. Для тестов мне удобна эта бумага тем, что она достаточно гладкая, как для карандашей и достаточно плотная, чтобы выдержать то минимальное количество воды, которое необходимо для размывания пигмента. Конечно, на характеристики тестируемых карандашей это никак не влияет, но если подходить к вопросу принципиально, то ок, возьмем честную бумагу для акварели!
<br>Только выберем сперва...
<br>
<br>Поход в разведку принес склейку и немного бумаги поштучно
<br>
<img src="http://aterleo.info/lj2/2016/01/13/01.jpg" class="img-responsive">
<br>Небольшая склейка "Canson" на 10 листов, плотностью 250 г/м.кв. Должна бы подойти, но фактура крупновата... 
<br>
<br>
<img src="http://aterleo.info/lj2/2016/01/13/02.jpg" class="img-responsive">
<br>Несколько листов бумаги поштучно. Она немного тонированная и с разной фактурой. Плотность у всех акварельная, перечислять не буду, но оно даже по фото видно.
<br>Коричневая бумага в непонятный хаотичный рисунок - это не для акварели, я подозреваю. Она слишком гладкая и тоньше. Взял ее за необычный вид - прыгадыцца...
<br>
<img src="http://aterleo.info/lj2/2016/01/13/03.jpg" class="img-responsive">
<br>Чуть позже схожу еще раз, чтоб посмотреть детальнее, а то не было времени и похватал, фактически, что под руку попало.
<br>А что за карандаши тестировать буду? О-о... это просто песня, а не карандаши, но я пока загадочно промолчу =) 
<br>
