<h2 class="featurette-heading">$!{file_articles_article12Title}</h2>
Где-то как-то жил-был Лео (впрочем и до сих пор), ходил на худ. шоппинги по субботам и занимался всякой 
<s>ерундой</s> полезной деятельностью.
<br>Однажды, году эдак в 2011-2012, в субботу, что логично, пошел Лео в худ. магазин, уже понятно для чего. И увидел там блокнот-склейку для работ акварелью. И все было в нем идеально: большой формат (около А3), фактура, плотность (300 г/м.кв.), толщина склейки (2,5 см)!
<br>И возрыдал Лео от счастья, ибо блокнот был просто прекрасен! Но тут случилось ужасное - на Лео напала зеленая амфибия и волоком утащила из худ. магазина. Потому что блокнот стоил немного более 20$
<br>И ушел Лео, и напала на него тоска абсолютно монохромная...
<br>Жил Лео и не радовало его ничего очень долгое время, где-то недели две. Пока не решил, что нужно вернуться и забрать себе идеальный блокнот, дабы жить с ним долго и счастливо! Однако, тут случилось ужасное-2 - блокнот уже забрали! Кто-то забрал чудесный и замечательный блокнот Лео! И теперь сам жил с ним долго и счастливо! Горе, тоска, неземная печаль.
<br>Долгих три (или четыре?) года жил Лео и вспоминал тот идеальный блокнот, но его больше не было: в магазины не привозили, в инете не продавали, все. Пока не зашел недавно в худ. магазин и не увидел ЕГО снова!
<br>Конечно, теперь от его стоимости даже жаба сдохла, а у меня до сих пор нервно дергается глаз, но лучше вот так, поздно, чем снова ждать три года
<br>
<img src="http://aterleo.info/lj2/2015/12/31/01.jpg" class="img-responsive">
<br>Идеальный блокнот-склейка теперь таки будет жить долго и счастливо вместе с Лео! 
<br>Формат 40,6 х 30,5 см, 300 г/м.кв., 50 листов
<br>
<br>
<img src="http://aterleo.info/lj2/2015/12/31/02.jpg" class="img-responsive">
<br>А это... Это складное ведро, чтобы в следующий раз утопить в нем жабу и не портить себе три года жизни! 
<br>
<img src="http://aterleo.info/lj2/2015/12/31/03.jpg" class="img-responsive">
<br>Так что, реализовывайте свои желания сразу! С наступающим! 
<br>
