<h2 class="featurette-heading">$!{file_articles_article3Title}</h2>
<a href="http://leo-tvorit.livejournal.com/94124.html" rel="nofollow">Предыдущий пост на эту тему</a> закончился рисунком акварельными карандашами на акварельной бумаге с фактурой "яичная скорлупа".
<br>Пора пристуать к размыванию рисунка. Страшно, но надо!
<br>
<br>Начинаю с фона, чтобы как-то привыкнуть к бумаге и знать, чего ждать от новых карандашей
<br>
<img src="http://aterleo.info/lj2/2016/03/21/01.jpg">
<br>
<br>Все размыто и сразу видно все проблемные моменты:
<br>
<br>1) пока бегал фотографировать и пару раз отвлекался от работы - получились наплывы
<br>2) если бумагу залапать предварительно, то карандаш на тех участках размывается хуже всего (край слева от крыла бабочки и правый нижний угол)
<br>Но все это моя личная вина, бумага и карандаши тут не при чем.
<br>Проблема бумаги была только в том, что ее повело и это видно
<br>
<img src="http://aterleo.info/lj2/2016/03/21/02.jpg">
<br>
<br>Вот такой получился пропеллер. Хотя, чего еще ожидать от "скорлупки"?
<br>
<img src="http://aterleo.info/lj2/2016/03/21/03.jpg">
<br>
<br>Впрочем, бумагу получилось выпрямить и продолжить работу.
<br>В некоторых местах добавлено еще несколько слоев карандаша (каждый был размыт в свою очередь), а залапанное пришлось зарисовывать, набирая пигмент кистью с карандаша, потому что доп. слоями это не лечилось.
<br>Повторно бумагу повело совсем немного и большей частью правый верхний угол, потому что он не был зафиксирован.
<br>Еще хочу сказать, что работа была зафиксирована только в левом нижнем углу, так что деформацию можно считать минимальной. Была бы работа акварелью - последствия выглядели бы хуже, а при работе акв. карандашами вода используется совсем микродозами, так что бумага не успевает сильно намокнуть
<br>
<img src="http://aterleo.info/lj2/2016/03/21/04.jpg">
<br>
<br>Вот тут. Впрочем, потом получилось все почти идеально выпрямить, а это сразу после окончания работы
<br>
<img src="http://aterleo.info/lj2/2016/03/21/05.jpg">
<br>
<br>Так что, тыльную сторону самой дешевой бумаги для акварели вполне можно использовать для рисования акварельными карандашами.
<br>Теперь еще хочу попробовать на более фактурной бумаге, но это будет чуть позже.
<br>
<br>Готовый рисунок будет в обзоре акварельных карандашей.
<br>
<br>
