<h2 class="featurette-heading">$!{file_articles_article17Title}</h2>
Сегодня у меня был срочный худ. шоппинг. Понадобились краски по ткани и... больше ничего на самом деле.
<br>Но это же худ. шоппинг! Не спортивно идти только за тем, что нужно!
<br>
<img src="http://aterleo.info/lj2/2015/06/25/01.jpg" class="img-responsive">
<br>Вообще, мне бы хотелось, конечно, купить Jacquard, а не Decola, но этим кризисом и ростом цен, сами магазины перестали завозить все, что дороже ширпотреба...
<br>
<br>Так что, набор красок по ткани 
<span style="line-height: 19.6000003814697px;">Decola, 6 шт</span>
<br>
<img src="http://aterleo.info/lj2/2015/06/25/02.jpg" class="img-responsive">
<br>Альбом-склейка А5 формата для акварели, 20 листов, а грамматура нигде не указана. Я тот блокнот чуть ли не наизнанку вывернул, но нет.
<br>Впрочем, для его смешной стоимости это простительно. Понятно, что там 300 г/м.кв. и рядом нет, но и не менее 200 г/м.кв. и то хлеб...
<br>
<img src="http://aterleo.info/lj2/2015/06/25/03.jpg" class="img-responsive">
<br>Бумага вполне себе акварельной фактуры
<br>
<img src="http://aterleo.info/lj2/2015/06/25/04.jpg" class="img-responsive">
<br>
<span style="line-height: 19.6000003814697px;">Зачем мне эта склейка, когда у меня есть минимум 5 штук других подороже, получше и поплотнее? Затем, что мне просто не хочется их портить! Я знаю, что это глупо, но факт. С акварелью у меня как-то по жизни не сложилось. Когда у меня была плохая акварель, мне надо было ею рисовать много учебных работ и это раздражало. Теперь у меня есть хорошая акварель, но осадок остался... Какой-то моральный блок - если я возьму в руки акварель, то ничего хорошего из этого не выйдет. А сама техника мне нравится и давно уж хочется кой-чего нарисовать, но я все хожу вокруг той акварели и суперкачественной бумаги... Надеюсь, что с дешевой бумагой будет проще хотя бы потому, что ее не жалко =) </span>
<br>У кого-то еще есть моральные худ. травмы? :D
<br>
