<h2 class="featurette-heading">$!{file_articles_article1Title}</h2>
Обещанный обзор акварельных карандашей, которыми был нарисован рисунок для 
<a href="http://leo-tvorit.livejournal.com/95946.html" rel="nofollow">теста акв. карандашей на акв. бумаге</a>.
<br>Не смотря на то, что у меня уже есть акварельные карандаши почти всех возможных производителей, которые можно было достать по Украине, я знаю как они все рисуют и чего от них можно ожидать, 
<a href="http://art-guru.in.ua/ru/prismacolor/140-%D0%B0%D0%BA%D0%B2%D0%B0%D1%80%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5-%D0%BA%D0%B0%D1%80%D0%B0%D0%BD%D0%B4%D0%B0%D1%88%D0%B8-prismacolor-36.html" rel="nofollow">PRISMACOLOR своими карандашами</a> снова смог удивить!
<br>Ниже расскажу и покажу чем и как
<br>
<img src="http://aterleo.info/lj2/2016/03/25/01.jpg">
<br>
<br>
<a href="http://leo-tvorit.livejournal.com/94380.html" rel="nofollow">Набор из 36 карандашей</a> мне подарили на Новый год и последующие несколько месяцев у меня была возможность порисовать ими просто так и с размыванием. Оценить их мягкость, яркость и сравнить с другими карандашами, но об этом чуть позже. А пока - коробка с карандашами!
<br>
<br>
<img src="http://aterleo.info/lj2/2016/03/25/02.jpg">
<br>
<br>Открываем...
<br>
<img src="http://aterleo.info/lj2/2016/03/25/03.jpg">
<br>
<br>Три лотка по 12 шт карандашей в каждом
<br>
<img src="http://aterleo.info/lj2/2016/03/25/04.jpg">
<br>
<br>Ум-м... красота!
<br>
<img src="http://aterleo.info/lj2/2016/03/25/05.jpg">
<br>
<br>Для теста возьму слегка тонированную бумагу для акварели.
<br>Карандаши сами по себе очень непривычно мягкие, как для акварельных. Не прям такие, как просто 
<a href="http://leo-tvorit.livejournal.com/65382.html" rel="nofollow">цветные PRISMACOLOR</a>, но существенно мягче всех моих акварельных карандашей.
<br>Рисуют как яркие цветные карандаши
<br>
<img src="http://aterleo.info/lj2/2016/03/25/06.jpg">
<br>
<br>А вот процесс размывания - чистая магия!
<br>Настолько полного и качественного размывание не получалось добиться ни с одними из предыдущих наборов карандашей! Чтоб вообще не было видно штрих, переходы и работа не превращалась в какую-то грязную муть!
<br>По яркости к акварельным PRISMACOLOR близка серия 
<a href="http://leo-tvorit.livejournal.com/10209.html" rel="nofollow">Aquatone от DERWENT</a>, но кто ими рисовал, тот знает, что теми карандашами сложно рисовать мелкие детали, они либо для больших фрагментов работы, либо для работ больших форматов.
<br>Этими же карандашами можно рисовать абсолютно все, что захочется - от тонких линий до больших фрагментов фона и во всех случаях всё будет замечательно!
<br>
<img src="http://aterleo.info/lj2/2016/03/25/07.jpg">
<br>
<br>Механическое смешивание цветов: на фото есть только синий и желый карандаш
<br>
<img src="http://aterleo.info/lj2/2016/03/25/08.jpg">
<br>
<br>С некоторым увеличением - штрих и размывание красного карандаша. 
<br>Слева сверху - штрих, внизу - он же, но размытый, справа сверху - размытый, после чего пигмент был убран водой и салфеткой
<br>
<img src="http://aterleo.info/lj2/2016/03/25/09.jpg">
<br>
<br>Теперь, хотелось бы посмотреть как карандаши рисуют. 
<br>Первый слой рисунка, карандаши использованы не по максимуму, чтоб можно было впоследствии еще внести правки
<br>
<img src="http://aterleo.info/lj2/2016/03/25/10.jpg">
<br>
<br>Начинаю размывать
<br>
<img src="http://aterleo.info/lj2/2016/03/25/11.jpg">
<br>
<br>Работа была размыта полностью, после чего дорисована бабочка и тоже размыта. 
<br>Штрих остался виден там, где работа была залапана руками: в правом нижнем углу и слева от крыла бабочки на зеленом. 
<br>Так что правило для акварели "не трогать руками бумагу" - работает и для акварельных карандашей. Как и то, что если размыть фрагмент, дать ему высохнуть и потом размывать дальше рядом - будет заметен переход (фон справа сверху)
<br>
<img src="http://aterleo.info/lj2/2016/03/25/12.jpg">
<br>
<br>Впрочем, штрих получилось закрасить, набирая кистью пигмент с карандаша.
<br>Кажется, с темным фоном малость перестарался...
<br>
<img src="http://aterleo.info/lj2/2016/03/25/13.jpg">
<br>
<br>
<span style="line-height: 19.6px;">Тем не менее, подобной яркости в работах акв. карандашами до сих пор добиться не получалось.</span>
<br>
<span style="line-height: 19.6px;">Я в восторге! Единственный минус этих карандашей - самый большой набор на 36 шт, а хотелось бы где-то на 72 штуки =) </span>
<br>
<br>Отдельно хочу сказать про рисование акварельными карандашами: акв. карандаши - это акв. карандаши, а акварель - это акварель. Ко мне часто обращаются с вопросами, вроде: "Насколько качественно заменяют акв. карандаши акварель?", "Работа акв. карандашами может быть на 100% идентичной работе акварелью?", "Не получается рисовать акварелью, если буду рисовать акв. карандашами, будет ли работа считаться акварельной?" и т.д. и т.п. 
<br>Сразу скажу, что рисование акварельными карандашами - это 
<u>отдельная техника</u>.
<br>Акварельные карандаши - не заменитель акварели и никаким образом на это не претендуют. Они являются отдельной техникой, со своими нюансами, эффектами, методами и принципами использования. Работы, выполненные акв. карандашами более графичны, реалистичны (если автор того желает) и менее прозрачны, чем акварель. Вообще, акварельные карандаши привязывают к акварели из-за не совсем точного перевода названия: на коробках, обычно, написано "water-soluble pencils" - это "водорастворимые карандаши", а не "акварельные". Не все, что водорастворимое - это акварель или как-то к ней причастно. И даже если кто-то на коробке на всех языках напишет, что они "акварельные" - все равно не станут идентичными акварели. То, что многие думают, что стержень акв. карандаша состоит из сухой акв. краски - их личное заблуждение. Для этого достаточно просто порисовать тем и другим, попробовать отмыть, смешать и прочее, чтобы стало понятно - материалы ведут себя совершенно по-разному. 
<br>
<br>Таким образом, из сказанного выше, можно сделать вывод: если нужно рисовать акварельные работы, со 100% эффектом акварели - стоит купить акварель и учиться ею рисовать. Если же охота попробовать новую технику, рисовать необычные красивые работы водорастворимыми карандашами, тогда уже стоит покупать 
<a href="http://art-guru.in.ua/ru/prismacolor/140-%D0%B0%D0%BA%D0%B2%D0%B0%D1%80%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5-%D0%BA%D0%B0%D1%80%D0%B0%D0%BD%D0%B4%D0%B0%D1%88%D0%B8-prismacolor-36.html" rel="nofollow">акварельные карандаши</a>. Их можно использовать и вместе с акварелью, чтобы добиться разных интересных эффектов, добавить деталей, что-то подчеркнуть и т.д., но не вместо акварели, потому что рисовать акварелью как-то не получается. Тогда будет меньше разочарований и неоправданных ожиданий. 
<br>
<br>Кто еще хочет попробовать акварельные карандаши PRISMACOLOR - 
<a href="http://art-guru.in.ua/" rel="nofollow">вам сюда</a>. 
<br>
<br>
