<h2 class="featurette-heading">$!{file_articles_article22Title}</h2>
В этом году к празднику мы подготовились заранее, поэтому когда все бегали за елками, стояли в очередях в супермаркетах и занимались прочими предпраздничными срочными делами, мы пошли на худ. шоппинг!
<br>
<br>Предновогодний худ. шоппинг должен быть, в принципе, масштабнее обычных, но в этот раз мы даже себя в этом удивили!
<br>
<img src="http://aterleo.info/lj2/2014/12/31/01.jpg" class="img-responsive">
<br>Накупили себе, другим и на подарки...
<br>
<br>Так что, вот этот большой 
<strike>
 и тяжелый как мешок цемента
</strike> сверток бумаги для акварели и рисунка - не мне =(
<br>
<img src="http://aterleo.info/lj2/2014/12/31/02.jpg" class="img-responsive">
<br>А вот этот худой уже мне!
<br>Как-то так вышло, что я столько лет прожил, не зная о существовании тонированной бумаги для акварели! Позор на мои седины...
<br>Наверстываю упущенное: бежевая и желтая бумага (светло-желтая) для акварели.
<br>И еще несколько листочков для рисунка - это всегда надо и быстро уходит...
<br>
<img src="http://aterleo.info/lj2/2014/12/31/03.jpg" class="img-responsive">
<br>Гуашь "Мастер-Класс" снова не мне
<br>
<img src="http://aterleo.info/lj2/2014/12/31/04.jpg" class="img-responsive">
<br>И два блокнота не мне... Тоскливо...
<br>
<img src="http://aterleo.info/lj2/2014/12/31/05.jpg" class="img-responsive">
<br>А вот это все мне!
<br>Колонки: плоские № 4, 7, клуглый №7 (я хотел №6, вместо своего съеденного молью, но его давно не было и не факт, что будет) и "язычок" №9 (тоже хотел поменьше, где-то №4-5, только их там вообще не бывает, сколько не смотрю).
<br>Щетина: веерная №16 (у меня
<a href="http://leo-tvorit.livejournal.com/54156.html" rel="nofollow"> этот номер уже есть</a>, но у этого "веер" не такой широкий и гуще - решил взять).
<br>Моя коллекционная серия синтетики 
<a href="http://leo-tvorit.livejournal.com/55422.html" rel="nofollow">KOLOS серии "Milk"</a>: "язычки" №1, 6, 8
<br>
<img src="http://aterleo.info/lj2/2014/12/31/06.jpg" class="img-responsive">
<br>
<a href="http://leo-tvorit.livejournal.com/52425.html" rel="nofollow">"Тройник"</a> не мне, а "Берлинская лазурь" - мне. Взял по совету Анонимуса в комментах к одному из 
<a href="http://leo-tvorit.livejournal.com/60600.html" rel="nofollow">предыдущих худ. шоппингов</a>
<br>
<img src="http://aterleo.info/lj2/2014/12/31/07.jpg" class="img-responsive">
<br>Простые карандаши CRETACOLOR: моих тут всего 2 штуки
<br>
<img src="http://aterleo.info/lj2/2014/12/31/08.jpg" class="img-responsive">
<br>Всякое интересное: два 
<a href="http://leo-tvorit.livejournal.com/55422.html" rel="nofollow">карандашика "карандашика"</a>, два линера Ренату, непонятная штука с мягкими прозрачными наконечниками (растушевка, вроде, но в магазине сказали, что "универсальная кисть") и почти круглый мастихин - тоже мне!
<br>
<img src="http://aterleo.info/lj2/2014/12/31/09.jpg" class="img-responsive">
<br>Faber-Castell наконец догадался выпускать свои 
<a href="http://leo-tvorit.livejournal.com/2497.html" rel="nofollow">клячки</a> в коробочках (2 мне, 1 не мне) - замечательно! А то с одними 
<a href="http://leo-tvorit.livejournal.com/2497.html" rel="nofollow">кох-и-норами</a> было скучно...
<br>Еще появились клячки LYRA в коробочках (50/50 мне и не мне). 
<a href="http://leo-tvorit.livejournal.com/20394.html" rel="nofollow">Резинки-колпачки</a> - подарок, резинка-карандаш - мне!
<br>
<img src="http://aterleo.info/lj2/2014/12/31/10.jpg" class="img-responsive">
<br>Хорошо сходили! Конечно, купили много всякого, но то, зачем шли - успешно забыли! Надо снова идти...
<br>
<br>В общем, к чему я все это... С очень скоро наступающим! Удачных и масштабных вам худ.шоппингов в будущем году! =)
<br>
