<h2 class="featurette-heading">$!{file_articles_article16Title}</h2>
Забежал в магазин худ. товаров очень быстро и купил, что удивительно, все, что было нужно 
<strike>
 и немного, что не нужно
</strike>.
<br>Мне нужны были только короткие (максимально короткие) кисти небольших размеров, синтетика.
<br>Остальное - это так... &nbsp;как обычно...
<br>
<img src="http://aterleo.info/lj2/2015/07/12/01.jpg" class="img-responsive">
<br>Блокнот для акварели из эко-серии, который приглянулся не столько своей плотностью - 240 г/м.кв. (маловато будет), сколько стоимостью, а отсюда и тем, что его будет не сильно жалко =) 
<br>
<br>Это в продолжение моих страданий над акварелью...
<br>
<img src="http://aterleo.info/lj2/2015/07/12/02.jpg" class="img-responsive">
<br>Много маленьких дешевых кистей, на которых написано просто "Нейлон", две чуть побольше (те же) и две подороже "Живопись"
<br>
<img src="http://aterleo.info/lj2/2015/07/12/03.jpg" class="img-responsive">
<br>Ластик-слоник "Koh-i-Noor" - классика! И баночка для чего-угодно (в моем случае - для растворителя)
<br>
<img src="http://aterleo.info/lj2/2015/07/12/04.jpg" class="img-responsive">
<br>
